@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');

.searchPage__movieList{
    display:flex;
    flex-direction: column;
    background-color: #0F0F0F;
    margin: 2rem;
    max-width: 1440px;
    height: 100%;
    
    .searchPage__result{
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: white;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    .searchPage__movies{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;

        .noResult {
            font-family: var(--font-body);
            color: var(--text-primary);
        }
    }
}

.searchPage__movieList{

    @media (max-width: 1200px){

        .searchPage__movies{
            grid-template-columns: repeat(4, 1fr);
        }
    }


    @media (max-width: 900px){
        & .searchPage__movies{
            grid-template-columns: repeat(3, 1fr);
        }

        & .searchPage__movies{
            text-align: center;
        }
    }

    @media (max-width: 600px){
        & .searchPage__movies{
            grid-template-columns: repeat(2, 1fr);
         }
    }

    @media (max-width: 475px){

        & .searchPage__movies{
            grid-template-columns: repeat(1, 1fr);
        }
    }

}