@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.landingPage__movieList{
    display:flex;
    flex-direction: column;
    background-color: #0F0F0F;
    margin: 2rem;
    max-width: 1440px;
    
    .landingPage__recommended{
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: white;
        margin-bottom: 2rem;
    }

    .landingPage__movies{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}

.wrapper{
    display:flex;
    justify-content: center;
    background-color: #0F0F0F;
}