.icon {
    border-radius: 50px;
    background-color: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    position: absolute;
    padding: 0.5rem;
    z-index: 20;
    display: flex;
    justify-content: center;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    transition: transform 0.1s ease, background-color 0.2s ease-in;
    /* transition: background-color 0.2s ease-in; */

    .watchIcon {
        fill: var(--text-primary);
        width: 2rem;
        height: 2rem;
        position: relative;
        left: 10%;
    }
}

.icon--faved {
    background-color: var(--primary-accent);
}

.icon:active{
    transform: scale(0.9);
}

/* .icon:hover{
    transform: scale(0.9);
} */